#card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 15%;
    margin: 2%;
    transition: all 0.8s cubic-bezier(0, 0.8, 0.4, 1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-title {
    font-weight: bold;
    font-size: 18px;
}
.movie-img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}
  

.page-button {
    text-align: center;
    background-color: brown;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
}

.page-button:hover {
    background-color: #c4463d;
    cursor: pointer;
}