#card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 15%;
    margin: 2%;
}

.movie-img {
    width: 100%;
}

.page-button {
    text-align: center;
    background-color: brown;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
}

.page-button:hover{
    background-color: #c4463d;
}