@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');

footer {
    font-family: serif;
    position: absolute;
    bottom: 0px;
    background-color: darkred;
    width: 100%;
    text-align: center;
}
footer > p {
    font-family: 'Roboto', sans-serif;
    color: black;
}