header {
    display: flex;
    background-color: darkcyan;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: black;
    text-decoration: none;
}

#logo {
    width: 5%;
    margin-left: 5%;
}

#searchbar {
    width: 50%;
    display: flex;
}

#searchbar-text {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

#authentication {
    margin-right: 5%;
}

.buttonAuthentication {
    border-radius: 30px;
}

.special {
    padding: 10px 25px;
    background-color: #f50a31;
    color: #fff;
}