header {
    display: flex;
    background-color:darkred;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: black;
    text-decoration: none;
}

#logo {
    width: 7%;
    margin-left: 5%;
}

#searchbar {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #f6f6f6;
}

.searchbar-text {
    flex: 1;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 1%;
    outline: none;
    border: none;
    background: transparent;
}
.searchbar-text::placeholder, .searchbar-icon {
    color: rgba(0,0,0,0.5);
}
#authentication {
    margin-right: 5%;
}

.buttonAuthentication {
    border-radius: 30px;
}

.special {
    padding: 10px 25px;
    background-color: #f50a31;
    color: #fff;
}