header {
    display: flex;
    background-color: gray;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: black;
    text-decoration: none;
}
#logo {
    margin-left: 5%;
}

#searchbar {
    display: flex;
    flex-grow: 10;
    width: 300px;
    justify-content: center;
}

#authentication {
    margin-right: 5%;
}
.buttonAuthentication {
    border-radius: 30px;
}
.special {
    padding: 10px 25px;
    background-color: #f50a31;
    color: #fff;
}