nav {
    display: flex;
    background-color:rgb(141, 6, 6);
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    font-family: Okta Neue;
}

#navbar-list {
    list-style-type: none;
    margin: 0px 1%;
    padding: 0px;
}

.navbar-item {
    font-size: 20px;
    display: inline-block;
    padding: 5px 20px;
    margin: 0px 10px;
}

.navbar-item a {
    color: inherit;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
}
a::after{
    content: "";
    position: absolute;
    background-color: #eee;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
}
a:hover::after {
    color: black;
    width: 100%;
}
.navbar-item:hover {
    color: white;
}
.selected-nav {
    color: white;
}
.selected-nav a::after {
    width: 100%;
}
@media screen and (max-width: 800px) {
    .navbar-item {
        float: none;
        display: block;
        text-align: left;
        padding: 6px 0px;
        margin: 0px;
        width: 100%;
        text-align: center;
        border-top: 2px solid darkred;
        
    }

    #navbar-list {
        margin: 0px;
        width: 100%; 
    }
}
