@font-face {
    font-family: Restora;
    src: "../fonts/Restora.otf";
}

@font-face {
    font-family: Okta Neue;
    src: "../fonts/Okta Neue.otf";
}

* {
    box-sizing: border-box;
    color:beige;
}

body {
    margin: 0;
    background-color: rgb(27, 23, 20);
}