<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/catalogue.css">
    <title>Rate - Movies</title>
    <script type="module" src="/script/catalogue.js"></script>
</head>
<body>
    <%- include('header') %>

    <main>
        <h1>Todos os filmes</h1>
        <button id="last-page" class="page-button">Last page</button>
        <button id="next-page" class="page-button">Next page</button>
        <div id="loading">
            <img src="http://media.giphy.com/media/FwviSlrsfa4aA/giphy.gif" alt="Loading...">
        </div>
    </main>

    <%- include('footer') %>
</body>
</html>