<header>
    <img src="../images/Logo.png" alt="Logo" id="logo">
    <div id="search-content">
        <form id="searchbar">
            <span class="searchbar-icon material-symbols-outlined">Search</span>
            <input type="search" id = "searchInput" class="searchbar-text" placeholder="Pesquisar filme ou série...">
        </form>
        <div id="searchResults">
        </div>
    </div>
    
    <span id="authentication">
        
        <div id="login-dropdown">
            <iframe src="../html/login.html" title="Rate - Login Page" style="height: 120px;"></iframe>
        </div>
        
        <button id="login-dropdown-button" class="buttonAuthentication">Login</button>
        <a href="/register" class="buttonAuthentication special">Register</a>
    </span>
</header>