<script type="module" src="../script/searchbar.js"></script>
<link rel="stylesheet" href="../css/header.css">
<link rel="stylesheet" href="../css/navbar.css">
<link rel="stylesheet" href="../css/searchbar.css">
<script type="module" src="../script/login.js"></script>

<header>
    <img src="../images/Logo.png" alt="Logo" id="logo">
    <div id="search-content">
        <form id="searchbar">
            <span class="searchbar-icon material-symbols-outlined">Search</span>
            <input type="search" id = "searchInput" class="searchbar-text" placeholder="Pesquisar filme ou série...">
        </form>
        <div id="searchResults">
        </div>
    </div>
    
    <span id="authentication">
        
        <div id="login-dropdown">
            <iframe src="../html/login.html" title="Rate - Login Page" style="height: 120px;"></iframe>
        </div>
        
        <button id="login-dropdown-button" class="buttonAuthentication">Login</button>
        <a id="register-button" href="/register" class="buttonAuthentication">Register</a>
        <div id="user-header" style="display: none;">
            <p id="username-header"></p>
            <button id="logout-button" class="buttonAuthentication">Logout</button> 
        </div>
    </span>
</header>
<nav>
    <ul id="navbar-list">
        <li id="nav-inicio" class="navbar-item"><a href="/">Início</a></li>
        <li id="nav-movies" class="navbar-item"><a href="/movies/1">Filmes</a></li>
        <li id="nav-shows" class="navbar-item"><a href="/shows/1">Séries</a></li>
    </ul>
</nav>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const pathname = window.location.pathname;
        const inicioNav = document.getElementById("nav-inicio");
        const moviesNav = document.getElementById("nav-movies");
        const showsNav = document.getElementById("nav-shows");
        const rateNav = document.getElementById("nav-rate");

        function getNavIdFromPath(path) {
            if (path === "/") {
                return "nav-inicio";
            } else if (path.startsWith("/movies")) {
                return "nav-movies";
            } else if (path.startsWith("/shows")) {
                return "nav-shows";
            } else {
                return null;
            }
        }

        const navId = getNavIdFromPath(pathname);
        if (navId){
            const selectedNav = document.getElementById(navId);
            selectedNav.classList.add("selected-nav");
        }
    });
</script>