<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/container.css">
    <link rel="stylesheet" href="../css/searchbar.css">
    <script type="module" src="../script/index.js"></script>
    <script type="module" src="../script/login.js"></script>
    <script type="module" src="../script/searchbar.js"></script>
    <title>Rate - Movie Rating Website</title>
</head>

<body>
    
    <%- include('header') %>
    
    <nav>
        <ul id="navbar-list">
            <li class="navbar-item"><a href="/">Início</a></li>
            <li class="navbar-item"><a href="/movies">Filmes</a></li>
            <li class="navbar-item"><a href="/shows">Séries</a></li>
            <li class="navbar-item"><a href="/rate">Avaliar</a></li>
        </ul>
    </nav>
    
    <main>
        
        <h1>Não sabe o que assistir?</h1>
        <h3>Filmes mais bem avaliados pelos membros do site! Você não vai se arrepender..</h3>
        
        <article id="top-content"></article>
    </main>

    <%- include('footer') %>
</body>
</html>