<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/movie-page.css">
    <title>Rate - Movie</title>
    <script type="module" src="../script/movie-page.js"></script>
    <style>
    .register-text {border-radius: 14px;}
    .register-submit{
        padding: 5px 10px;
        border-radius: 14px;
    }
    .register-submit:hover{
        cursor: pointer;
        opacity: 0.9;
    }
    </style>
</head>
<body>
    <%- include('header') %>
    <main>
        <article id="movie-container">
            <div id="top-content">
                <div id="left-content">
                    <img id="movie-img" class="banner" src="../images/imageError.png" alt="">
                    <div id="rate">
                        <p id="movie-rate"> 0.0</p>
                        <img class="star" src="../images/estrela.png" alt="">
                    </div>
                </div>
                <div id="rigth-content">
                    <p id="movie-title"> Não foi possível acessar a Série</p>
                    <p id="movie-description"> Não foi possível acessar a descrição da Série</p>
                </div>
            </div>
            <div id="bottom-content">
                <h1 class="content-title"> Comentários</h1>
                <div id="comment-content">
                    <p class="text-temp" >Parece que ainda não temos comentários por aqui... Deixe o seu!</p>
                </div>
            </div>
        </article>
    </main>

    <%- include('footer') %>
</body>
</html>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const scrollContainer = document.getElementById('comment-content');
    let isDown = false;
    let startX;
    let scrollLeft;

    scrollContainer.addEventListener('mousedown', (e) => {
        isDown = true;
        scrollContainer.classList.add('active');
        startX = e.pageX - scrollContainer.offsetLeft;
        scrollLeft = scrollContainer.scrollLeft;
    });

    scrollContainer.addEventListener('mouseleave', () => {
        isDown = false;
        scrollContainer.classList.remove('active');
    });

    scrollContainer.addEventListener('mouseup', () => {
        isDown = false;
        scrollContainer.classList.remove('active');
    });

    scrollContainer.addEventListener('mousemove', (e) => {
        if(!isDown) return;
        e.preventDefault();
        const x = e.pageX - scrollContainer.offsetLeft;
        const walk = (x - startX);
        scrollContainer.scrollLeft = scrollLeft - walk;
    });
});
</script>