
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/rate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="/script/rate.js"></script>
    <title>Rate - Rating</title>
</head>
<body>
    <%- include('header') %>
    <main data-media-type="<%- mediaType %>" data-id="<%- id %>">
        <h1>Avalie um filme!</h1>
        <div id="loading">
            <img src="http://media.giphy.com/media/FwviSlrsfa4aA/giphy.gif" alt="Loading...">
        </div>
        <article id="top-content"></article>
    </main>
    <%- include('footer') %>
</body>
</html>
