
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/rate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Rate - Rating</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <h1>Avalie um filme!</h1>
        <form id="register-form" name="register-form">
            <img id="selected-movie-img" class="banner" src="../images/imageError.png" alt="Image of the selected movie">
            <br>

            Star Rating
            <span class="fa fa-star checked-star"></span>
            <span class="fa fa-star checked-star"></span>
            <span class="fa fa-star checked-star"></span>
            <span class="fa fa-star checked-star"></span>
            <span class="fa fa-star checked-star"></span>
            <br><br>

            Descrição:<br> 
            <textarea id="rating-description" class="rating-description" placeholder="Disserte a respeito da sua avaliação (Opcional)"></textarea><br><br>

            <input type="submit" class="register-submit"style="color: black;">
    </main>
    <%- include('footer') %>
    
    <script>
        
    </script>
</body>
</html>
