
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/rate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="/script/rate.js"></script>
    <title>Rate - Rating</title>
</head>
<body>
    <%- include('header') %>
    <main data-media-type="<%- mediaType %>" data-id="<%- id %>">
        <h1>Avalie um filme!</h1>
        <article class="movie-form">
            <img id="selected-movie-img" class="banner" src="/images/imageError.png" alt="Image of the selected movie">
            <form id="register-form" name="register-form" class="form">
                <h1 id="selected-movie-title"></h1>
    
                Rating <br>
                <input type="radio" id="like" name="rating">
                <label for="like">Gostei</label>
                <input type="radio" id="dislike" name="rating">
                <label for="dislike">Não gostei</label>
                <br>
    
                Descrição:<br> 
                <textarea id="rating-description" class="rating-description" placeholder="Disserte a respeito da sua avaliação (Opcional)"></textarea><br><br>
    
                <input type="submit" class="register-submit"style="color: black;">
        </article>
    </main>
    <%- include('footer') %>
</body>
</html>
