<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/container.css">
    <title>Rate - Create Account</title>
    <script type="module" src="/script/register.js"></script>
    <style>main {height: 75.5vh;}
    .register-text {border-radius: 14px;}
    .register-submit{
        padding: 5px 10px;
        border-radius: 14px;
    }
    .register-submit:hover{
        cursor: pointer;
        opacity: 0.9;
    }
    </style>
</head>
<body>
    <%- include('header') %>
    <main>
        <h1>Crie sua conta!</h1>
        <form id="register-form" name="register-form">
            Nome completo: <input type="text" id="fullname" class="register-text" required><br><br>

            Nome de usuário (use apenas letras, números e _): <input type="text" id="username" class="register-text" required><br><br>

            E-mail: <input type="text" id="email" class="register-text" required><br><br>

            Senha: <input type="password" id="password" class="register-text" required><br><br>

            Gênero: <br>
            <input type="radio" id="gender-male" name="gender" value="male" required>
            <label for="gender-male">Masculino</label><br>
            <input type="radio" id="gender-female" name="gender" value="female" required>
            <label for="gender-female">Feminino</label><br><br>

            <input type="submit" class="register-submit" style="color: black;">

        </form>
    </main>

    <%- include('footer') %>
</body>

</html>